




{% extends "mytemplate.html" %}


{%  block mytitle %}


{{name}}


{% endblock %}




{%  block main %}


<h1> This is my new product detail page </h1>



<table border="2">
    <tr>
        <td>Name</td>
        <td> {{name}}</td>
    </tr>
    <tr>
        <td>Desc</td>
        <td> <p> {{desc}}</p></td>
    </tr>

    <tr>
        <td>Price</td>
        <td>{{price}}</td>
    </tr>

    {% if features %}

     <tr>
        <td>Features</td>
        <td>
           <ul>
            {%  for  f in features %}
                <li> {{ f }} </li>
            {% endfor%}
            </ul>
        </td>
    </tr>

    {% endif  %}

</table>


{%  endblock %}


